.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header-Menu {
  background: #F4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
  position:fixed;
  z-index:2;
  width:100%;
  height:100px;
  box-shadow: 0px -12px 20px 11px #00000080;
  .Menu-Form{
    margin-right:2%;
    a{
      margin:5%;
      text-transform: uppercase;
      color:#266e63;
      font-weight:bold;
    }
    span{
      color: #266e63;
      font-weight:500;
    }
    form{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius:5px;
      border: 1px solid #BEBEBE;
      padding: 3%;
      width: 250px;
    }
    .icon{
      color: #BEBEBE;
      width: 100%;
      padding: 2%;
      
    }
    input{
      background: none;
      border: 0;
      border-radius: 0;
      outline: none;
      font-weight: bold;
      color: #BEBEBE;
      padding: 0 10%;
    }
    input:focus{
      outline:none !important;
    }
    input::placeholder{
      color: #BEBEBE;
      font-size:12px;
      text-align: center;
    }
  }
  .Logo{
    display:flex;
    align-items: center;
    margin-left:2%;
    img{
      width:150px;
    }
  }
  button{
    background:#282c34;
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    border:none;
    color:white;
    font-weight:bold;
  }
}

.App-link {
  color: #61dafb;
}
.App-Redux{
  background: #ffffff1a;
  border-radius: 25px;
  margin-top: 25px;
  padding: 2%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* New Styles */



.Logo h1{
  margin-left: 10px;
}
.Menu{
  display: flex;
  width: 20%;
  justify-content: center;
  padding: 0% 5%;
  padding-top: 2%;
  background:#e8ebeb;
  color: #222222;
  .MenuContentWrapper{
    width: 15%;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    a{
      text-decoration: none;
        width: 100%;
        padding: 3%;
        margin-top:3%;
        display: flex;
        color: #222222;
        font-size:1.2rem;
        font-weight: 500;
    }
    h2{
      width:100%;
      text-align: left;
      padding-left:30px;
      font-size:1.5rem;
   
    }
    div{
      text-align: center;
      width:100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 7%;
      &:hover{
        background:#3C5955;
        color:white;
        cursor: pointer;
        border-radius:5px;
      }
      .icon{
        padding-right:5%;
        width:50px;
      }
    }
  }
}
.Container{
  width:100%;
  display:flex;
  flex-direction:column;
  .toggle_menu{
    display:flex;
    justify-content: center;
    padding: 5%;
    button{
      cursor: pointer;
    }
    .toggle_button_on{
      button{
        width:100px;
        border: none;
        background:none;
        border-bottom: 2px solid #3C5955;
        font-size: 25px;
        text-transform: capitalize;
        color: #3C5955;
      }
    }
    .toggle_button_off{
      button{
        width:100px;
        border: none;
        background:none;
        border-bottom: 2px solid #BEBEBE;
        font-size: 25px;
        text-transform: capitalize;
        color: #BEBEBE;
      }
    }
  } //toggle-menu end
  .PhotoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
    width: 100%;
    .LoaderContainer{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 600px;
      h2{
        font-weight:600;
      }
    }
    .Loader{
      margin: 0 auto;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .PhotoCard{
      width: 350px;
      height:350px;
      font-size: .75rem;
      margin: 1%;
      background:black;
      border-radius:5px;
      .PhotoInfo{
        position: absolute;
        width:350px;
        height:350px;
        z-index:1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .photo-title{
          display:flex;
          justify-content: center;
          margin: 5%;
          h3{
            width: 50%;
            padding: 2%;
            background: #000000bd;
            border-radius: 5px;
          }
        }
        .dropdown{
          display:flex;
          .dropdown-menu{
            .dropdown-content{
              background: #000000bd;
              a{
                color:white;
                &:hover{
                  background:black;
                }
              }
            }
          }//dropdown-menu end
        }//drop-down-end
        .dropdown-trigger{
          button{
            background: #000000bd;
            width:50px;
            border: 0;
          }
          .icon{
            color:white;
          }
        }
      }
      img{
        width: 350px;
        height:350px;
        object-fit: cover;
        object-position: center;
        margin: 0px;
        border-radius: 5px;
      }
    }
  } //end photo wrapper
  .StoriesWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:5%;
    width: 100%;
    .PhotoCard{
      width: 100%;
      height:350px;
      padding: 0%;
      box-shadow: -4px 5px 14px 0px #0000002b;
      font-size: .75rem;
      margin: 1%;
      color:black;
      .PhotoInfo{
        position:absolute;
        .dropdown{
          display:flex;
          .dropdown-menu{
            .dropdown-content{
              background: #000000bd;
              a{
                color:white;
                &:hover{
                  background:black;
                }
              }
            }
          }//dropdown-menu end
        }//drop-down-end
        .dropdown-trigger{
          button{
            background: #000000bd;
            width:50px;
            border: 0;
          }
          .icon{
            color:white;
          }
        }
      }
      .StoryCard{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        height:100%;
        background:#e8ebeb;
        h2{
          font-size:1.5rem;
          font-weight:600;
          color:white;
          text-transform: capitalize;
          background:#38A1DE;
          padding: 2%;
          width:100%;
        }
        p{
          padding-top:2%;
          width:75%;
          font-size:1rem;
          text-transform: capitalize;
          text-align: center;
        }
        div{
          width:50%;
          display:flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        img{
          width:50%;
          height:50%;
          object-fit: cover;
          object-position: center;
          margin: 0px;
          border-radius: 5px;
        }
      }
      
    }
  }//End Stories Wrapper
  .Profile{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
    padding-top:100px;
    h1{
      font-size:1.5rem;
      text-transform: capitalize;
      margin: 2%;
    }
    .Metrics{
      display:flex;
      justify-content: center;
      width:300px;
      margin-bottom:2%;
      p{
        font-size:.75rem;
        width:25%;
        margin: 2% 5%;
      }
    }
    p{
      font-weight:400;
      font-size:1.5rem;
      margin-bottom: 0;
    }
    img{
      width: 150px;
      height:150px;
      object-fit: cover;
      object-position: center;
      margin: 0px;
      border-radius: 50%;
    }
    form{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color:black;
    }
  } //End Profile Styles
   
 
}
.ContentWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1%;

}
.Wrapper{
  display:flex;
  justify-content: center;
  background-color: #ffffff;
  color:white;
  width:100%;
  padding-top:100px;
}

.FormContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../imgs/background.png);
  background-position: center;
  background-size:cover;
  .Logo{
    margin: 2%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
      font-size: 1.5rem;
      font-weight:600;
      margin: 2% 0%;
    }
  }
  .LoginForm{
    padding: 5%;
    border-radius: 10px;
    background: hsla(0, 0%, 84%, 0.75);
    label{
      width:100%;
      float:left;
      text-align: left;
      font-weight: 600;
    }
    input{
      margin:2% 0%;
    }
    p{
      margin: 2% 0%;
      color:red;
      font-weight:600;
    }
    button{
      width:100%;
      margin: 1% 0;
      border: 0;
    }
  }
}

//modal styles
.Add_Post_Button{
  
    border:0;
    border-radius:50%;
    font-weight:600;
    color:white;
    position:fixed;
    margin:5%;
    background:#38A1DE;
    right:12.5%;
    cursor:pointer;
    font-size:2rem;
    z-index:1;
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    padding: 1%;
    padding-bottom: 1.25%;
    &:hover{
      background:#2977a5;
    }
}
.modal-background{
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:0;
  .modal-card{
    z-index: 1;
    .modal-card-body{
      color:black;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      form{
        width:50%;
        label{
        display: block;
        text-align: left;
        }
        input{
          margin: 5% 0;
        }
        label{
          font-weight:600;
          text-transform: capitalize;
        }
      }//form end
    }//modal-card-body end
  }//modal-card end
  footer{
    display:flex;
    justify-content: center;
  }
}//modal-background-end

//Edit Modal
.editPostModal{
  .modal{
    .modal-background{
      .modal-card{
        width:50%;
        .modal-card-body{
          flex-direction: row;
          .modal-card-body > form, img {
            margin:5%;
            width: 350px;
            height: 350px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}